[MASTER]
# Python code files that pylint should ignore
ignore=CVS,.git,__pycache__

# Add any Python modules that can't be imported to this list
ignored-modules=

[MESSAGES CONTROL]
# Disable specific warnings
disable=
    C0111, # missing-docstring
    C0103, # invalid-name
    C0301, # line-too-long
    W0311, # bad-indentation
    W0603, # global-statement
    R0903, # too-few-public-methods
    R0913, # too-many-arguments
    R0914, # too-many-locals
    W0621, # redefined-outer-name
    W0707, # raise-missing-from

[FORMAT]
# Maximum number of characters on a single line
max-line-length=120

# Maximum number of lines in a module
max-module-lines=2000

[BASIC]
# Regular expression which should only match function or class names
function-rgx=[a-z_][a-z0-9_]{2,50}$
class-rgx=[A-Z_][a-zA-Z0-9_]+$

# Good variable names
good-names=i,j,k,ex,Run,_,fd,fp,id

[SIMILARITIES]
# Minimum lines number of a similarity
min-similarity-lines=4

# Ignore comments when computing similarities
ignore-comments=yes